<%- include('../partials/v_client_header') %>
    <form action="/admin/<%= data %>/add" method="post">
        <label for="nama">Name</label>
        <input type="text" name="name" id="nama" placeholder="insert name"><br><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>