<%- include('../partials/v_client_header') %>
    <div class="chat-main">
        <h3 id="room-name">

        </h3>
        <ul id="users">
            
        </ul>
        <div class="chat-message">

        </div>
    </div>
    <form id="chat_form">
        <input id="msg" type="text" placeholder="enter message" autocomplete="off" required>
        <button>Send</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.6/qs.min.js" integrity="sha512-3TmPrquYLaAsUmZKXRARTDC5siWhLAdBVqNo4dWpDABBtLU62AaoTaQJEvjxjExcZYurO6i1dnK85k8pPIBlRg==" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/server.js"></script>
</body>
</html>