<%- include('../partials/v_client_header') %>
    <form action="/client/edit/<%= data.id %>" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="<%= data.username %>"><br><br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= data.email %>"><br><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br><br>
        <input type="submit" value="Edit">
    </form>
</body>
</html>