<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Home</title>
</head>
<body>
    <%- include('../partials/v_alert') %>
    <h2>Welcome <%= data.username %></h2>
    <a href="/client/profile/<%= data.id %>">Profile</a><br>
    <a href="/client/room">Join Room</a>
</body>
</html>