<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>
    <a href="/admin/profile/<%= data.id %>">Profile</a>|
    <a href="/admin/client">See Client</a>|
    <a href="/admin/room">Create Room</a>|
    