<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.username %> Edit</title>
</head>
<body>
    <a href="/client/<%= data.id %>">Home</a>|
    <a href="/client/profile/<%= data.id %>">Profile</a>|
    <a href="/client/logout">Logout</a>|<br><br>

    <%- include('./v_alert') %>
